#sortSidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  height: 70px;
  width: 100%;
  background: #1f2c3c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 34px;
  padding: 0 24px;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.3);
  z-index: 60;
}

.sortOption,
.sortOption-selected {
  writing-mode: horizontal-tb;
  transform: none;
  font-family: 'Courier Prime', monospace;
  font-size: 14px;
  font-weight: 750;
  padding: 8px 14px;
  border-radius: 8px;
  transition: .3s;
}

.sortOption {
  color: rgba(199, 169, 169, 0.928);
  cursor: pointer;
}

.sortOption:hover {
  color: white;
  background-color: #34495e;
}

.sortOption-selected {
  color: white;
  background: #2c3e50;
}

.sortOption-selected:hover {
  background: #9bc5ef;
}

/* #infoContainer {
  position: fixed;
  top: var(--toolbar-height);
  left: var(--sidebar-width);
  width: var(--info-width);
  height: calc(100vh - var(--toolbar-height));
  padding:28px 26px 60px;
  overflow-y:auto;
  background: var(--clr-surface);
  border-right:1px solid var(--clr-border);
  -webkit-backdrop-filter: blur(28px) saturate(180%);
  backdrop-filter: blur(28px) saturate(180%);
} */

#infoContainer {
  position: fixed;
  top: 100px; /* same toolbar height */
  left: 0;
  width: calc(28vw + 20px);
  height: calc(100vh - 170px);
  background: var(--clr-surface);
  padding: 20px 28px 24px;
  border-left: 3px solid #e67e22;
  box-shadow: none;
  z-index: 10;
  overflow-y: auto;
}
